.vscode/
.idea/*
__pycache__/
db.sqlite3
media/**
htmlcov/
stats.txt
venter/
staticfiles/*
static/*
Venter/ML_model/sentence_model/MAX.bin
Venter/ML_model/ICMC/dataset/dataset_mcgm_clean/word_vectors_icmc.pickle
Venter/ML_model/ICMC/dataset/dataset_mcgm_clean/word_vectors_icmc_.picke

